<header>
  <!-- <%= image_tag("cm_logo.png", :alt => "Code Mountain") %> -->
  
  <ul>
    <li><%= link_to "Profile", profile_path %></li>
    <li><%= link_to "Sprints", sprints_path %></li>
    <li><%= link_to "Sign Out", '#' %></li>
  </ul>

</header>